[Unit]
Description=Ethereum 2 Validator
PartOf=eth2.service
After=eth2-beacon-chain.service
Requires=eth2-beacon-chain.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=validator
ExecStart=/home/validator/bin/validator

[Install]
WantedBy=eth2.service
