[Unit]
Description=Ethereum 2 Validator
After=beacon-chain.service
Requires=beacon-chain.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=validator
ExecStart=/home/validator/bin/validator

[Install]
WantedBy=multi-user.target
